.app-container{
    max-width: none !important;

}
.cms-container{
    min-height: 100vh;
    background-color:var(--white);
    box-sizing: border-box;
    text-decoration: none;

     font-family:Yekan;
     direction: rtl;    
     font-size: 11px;
     /* font-size: 0.7cqi; */
}
@font-face {
    font-family: 'Yekan';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/Yekan.woff') format('woff2');
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 1cqi !important; 
    padding-left: 1cqi !important;
    margin-right: 1cqi !important;
 margin-left: 1cqi !important; 
}
.css-i4bv87-MuiSvgIcon-root {
    color: var( --gray3);
}
:root{
    --white:#ffffff;
    --white2:#ffffff;
    --white1:#fafaff;
    --gray1:#bbbbbc;
    --gray2: #f0f0ff;
    --gray3:#555;
    /* --black:#101011; */
    --black:#464646;
    --black2:#2e2e2e;
    --white-50:rgb(230, 230, 230);
    /* --them:#001d3d; */
    /* --them:#7209b7; */
    /* --them:#d68c45; */
    /* --them:#370617; */
    /* --them:#78290f; */
    /* --them:#036666; */
    --them:#7c6a0a;
 }
