.itemmenu-col3{
    box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);

}

.itemmenu-select-row{
    box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);

}
.itemmenu-regbutton{
    margin-top: 55px !important;
    width: 95% !important;
}
.itemmenu-regbutton svg {
    transform: rotate(180deg);
    margin: 5px;
    font-size: 1.2cqi !important;

}
.itemmenu-regbutton span{
    font-size: 1.3cqi;
}
.itemmenu-select-row :nth-child(1){
    margin-bottom: 10px;
}
.itemmenu-editbut {
    font-size: 0.8cqi !important;
    margin: 2px;

}
.itemmenu-deletbut{
    font-size: 0.8cqi !important;
    margin: 2px;

}

.itemmenu-table th{
    font-size: .7cqi;
}
.itemmenu-table td{
font-size: .9cqi;
}